<!DOCTYPE html>
<html>
<head>
    <title>EShopV11</title>
    <!-- Latest compiled and minified CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/Trainee.js"></script>
    <!-- jQuery library -->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="~/Scripts/fontawesome.min.js"></script>
    <link href="~/Content/fontawesome.min.css" rel="stylesheet" />
    <link href="~/Content/layout.css" rel="stylesheet" />
    <script>
        $(Document).ready(function () {
            $('#search').mouseover(function () {
                $('#divhelp').fadeIn(0);
            }).mouseout(function () {
                $('#divhelp').fadeOut(5);
            });
        });
    </script>
</head>
<style>
    a:hover {
        color: #819FF7;
    }
</style>
<body>

    <div class="topnav">
        <p style="padding-top: 25px; padding-left: 30px;"><i class="fa fa-camera-retro fa-3x"></i> Drive</p>
        <div class="search-container">
            @if (ViewBag.Username == null)
            {
                <a href="/Users/Index"><b>Đăng nhập </b></a>
                <a href="/Users/Create">Tạo tài khoản</a>
            }
            else
            {
                <a href="/Users/Logout" id="dx">Đăng xuất</a>
                <br />
                <font face="Comic sans MS" size="3" color="#58ACFA">@ViewBag.Username: (@ViewBag.Right)</font><br />
            }

            <form action="/Home/Index">
                <input type="text" placeholder="Search.." name="name">
                <button type="submit" id="search"><i class="fa fa-search"></i><div id="divhelp" style="display:none;"><font face="Comic sans MS" size="1">Tìm kiếm</font></div></button>
            </form>
            <br />
            
        </div>
    </div>
    @*<div style="width:50%; margin: 0 auto;">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                Login
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">

                <li><a href="#">CSS</a></li>
                <li><a href="#">JavaScript</a></li>
            </ul>
        </div>*@
    @RenderBody()
    <footer>
        <p>&copy; @DateTime.Now.Year</p>
    </footer>

</body>
</html>
