
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <form action="/Users/Create" method="post">
        <b>Tài khoản :</b>
        <input type="text" name="Username" />
        <br />
        <b>Email :</b>

        <input type="text" name="Email" />
        <br />
        <b>Địa chỉ :</b>

        <input type="text" name="Address" />
        <br />
        <b>Mật khẩu :</b>
        <input type="password" name="Passwork" />
        <br />
        <br />
        <input type="submit" value="Submit" />
        <a href="/Home/Index">Quay lại</a>
        <br />

        <h4 style="color:red;">@ViewBag.err</h4>
    </form>
</div>

